.skill-box{
  background-color: $gray-600;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
}
.work-card-box{
  a{
    color: $ch-pink;
  }
}
.work-card-img{
  img{
    width: 100%;
    height: 200px;
    background-color: #fff;
    //border-radius: 50%;
    border-radius: 10px;
    border: solid 2px $white;
    overflow: hidden;
    transition: 0.3s;
    object-fit: cover;
    &:hover, &:active, &:focus{
      border: solid 10px $ch-pink-600;
      //transform: scale(0.7);
    }
  }
}
