.skill-box{
  background-color: $gray-600;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.work-card-img{
  img{
    width: 100%;
    height: 200px;
    background-color: #fff;
    //border-radius: 50%;
    border-radius: 10px;
    overflow: hidden;
  }
}